* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffffff;
    color: #333;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 100%;
}

.company-card {
    margin-top: auto;
    margin: 20px 0;
    padding: 0px 10px 10px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.company-card h3 {
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
    font-weight: bold;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.company-card h3::before {
    content: '●';
    color: #14ae5c;
    font-size: 2.4rem;
    align-items: center;
}

.company-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-track-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 2% 0px 0px;
    flex-wrap: wrap;
}

.visual-placeholder {
    background-color: #e5e5e5;
    border-radius: 6px;
    text-align: center;
    padding: 60px 50px;
    font-size: 0.9rem;
    color: #333;
}

.app-track-status {
    display: flex;
    font-size: 1rem;
    padding-top: 0px;
}

.app-track-status p {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}